<h3><span class="dialog-titles">f a m e | or shame</span></h3>
<p class="driving-school-name">{{selectedSchool.drivingSchoolName}}</p>
<div class="display-scene-details">
    <table class="resultTable">
        <thead>
            <tr>
                <th>Name</th>
                <th>Surname</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let instructor of selectedSchool.instructors">
                <td>{{instructor.instructorName}}</td>
                <td><span id="instructor-surname-of-school">{{instructor.instructorSurname}}</span></td>
            </tr>
        </tbody>
    </table>
</div>