<h3>List of Driving Schools</h3>
<div class="display-scene">
<table class="resultTable">
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Address</th>
      <th>Operations</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let school of schools">
      <td>{{school.id}}</td>
      <td>{{school.drivingSchoolName}}</td>
      <td>{{school.drivingSchoolAddress}}</td>
      <td>
        <button class="heroes" (click)="deleteSelectedDrivingSchool(school.id)"><i class="material-icons">delete</i></button>
        <button id="update" (click)="openDataModalComponent(school)"><i class="material-icons">edit</i></button>
      </td>
    </tr>
  </tbody>
  </table>
</div>