<h3>A new school in town... ?</h3>
<form class="new-driving-schools">
  <mat-form-field class="driving-school">
    <mat-label>Driving school: </mat-label>
    <input matInput #drivingSchoolName>
  </mat-form-field>
  <br>
  <mat-form-field class="driving-school-address">
    <mat-label>Driving's school address: </mat-label>
    <input matInput #drivingSchoolAddress>
  </mat-form-field>
</form>
<div class="butoane">
  <button mat-raised-button color="customGreen" (click)="saveDrivingSchool(
            drivingSchoolName.value, 
            drivingSchoolAddress.value)"><i class="material-icons">add</i></button>

  <button mat-raised-button color="customGreenCancel" (click)="closeModalComponent()"><i
      class="material-icons">cancel</i></button>
</div>