<nav>
    <img src="assets/logo004.png" alt="logo of site">
    <ul>
        <li><a href=""><i class="material-icons">home</i></a></li>
        <li><a class="meniu"><i class="material-icons">search</i></a></li>
        <li><a href=""><i class="material-icons">list_alt</i></a></li>
        <li><a class="meniu" ><i class="material-icons">add_box</i></a></li>
        <li>
        <select class="entitate">
            <option value="">Reviews</option>
            <option value="">Instructors</option>
            <option value="">DrivingSchools</option>
         </select></li>
    </ul>
</nav>