<h3>Reviews for {{selectedInstructor.instructorName}}
  {{selectedInstructor.instructorSurname}} of:
  {{selectedInstructor.drivingSchoolName}},
  {{selectedInstructor.drivingSchoolAddress}}</h3>
<div class="display-scene-details">
  <table class="resultTable">
    <thead>
      <tr>
        <th>Review</th>
        <th>Rating</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let review of selectedInstructor.reviews">
        <td>{{review.instructorReview}}</td>
        <td *ngIf="review.experienceRating == 2"><span class="sentiment-pos"><i
            class="material-icons mat-sentiment-positive">sentiment_satisfied_alt</i></span>
        <td *ngIf="review.experienceRating == 1"><span class="sentiment-pos"><i
            class="material-icons mat-sentiment-negative">sentiment_very_dissatisfied</i>
            </span>
        </td>
      </tr>
    </tbody>
  </table>
  <br>
  <p>Positive reviews: <span class="positive-review-color">{{ positiveReviewsPercentage | number : '1.2-2'}}%</span> | 
    Negative reviews: <span class="negative-review-color">{{negativeReviewsPercentage | number : '1.2-2'}}%</span></p>
</div>