html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-customGreen {
    color: white;
    background-color: #034437;
  }
  .mat-customGreenCancel {
    color: white;
    background-color: #478b7e;
  }
  .display-scene {
    margin: 50px;
    padding:0px;
}