html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-customGreen {
  color: white;
  background-color: #034437;
}

.mat-customGreenCancel {
  color: white;
  background-color: #478b7e;
}

.mat-sentiment-negative {
  color: rgb(199, 2, 2);
}

.mat-sentiment-positive {
  color: rgb(0, 128, 49);
}
.mat-delete{
  color: rgb(95, 6, 6);
}
.mat-edit{
  color: #034437;
}
.mat-review{
  color: #62838d;
}
.mat-instructors{
  color: #62838d;
}
.mat-zero{
  color: rgb(199, 2, 2);
}
.display-scene {
  margin: 50px;
  padding: 0px;
}

/* .display-scene h2 {
  text-align: center;
} */
