<h1>Reviews</h1>
<div class="display-scene">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Actions Buttons</mat-card-title>
      <mat-card-subtitle>End</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions align="end">
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  
  <br>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Actions Buttons</mat-card-title>
      <mat-card-subtitle>End</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions align="end">
      <button mat-button (click)="showReviews()">arata</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  <table class="resultTable" *ngIf="selectorReview">
    <thead>
    <tr>
      <th>ID</th>
      <th>Review</th>
      <th>Rating</th>
      <th>Operations</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let review of reviews">
      <td>{{review.id}}</td>
      <td>{{review.instructorReview}}</td>
      <td>{{review.experienceRating}}</td>
      <td>
        <button class="heroes" (click)="deleteSelectedReview(review.id)"><i class="material-icons">delete</i></button>
        <button id="update" (click)="openDataModalComponent(review)"><i class="material-icons">edit</i></button>
      </td>
    </tr>
  </tbody>
  </table>
  
</div>
  <h1>ReviewById</h1>
<div>
    <!-- <p>Aici e un review: {{reviewById.instructorReview}}</p> -->
</div>



  
  